KillList/Connected Services/CharecterServiceRefrence/CharecterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CharecterInfoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CharecterInfoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCharecterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharecterData" nillable="true" type="tns:CharecterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharecterData" nillable="true" type="tns:ArrayOfCharecterData" />
  <xs:complexType name="CharecterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HateRaiting" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spec" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharecterData" nillable="true" type="tns:CharecterData" />
</xs:schema>